@media screen and (max-width: 1600px) {
  .container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  header .header_top_left .header_location,
  header .header_top_center,
  header .header_top_right,
  header .nav_link,
  header .header_bottom_right a span {
    display: none;
  }
  header .header_bottom_right {
    gap: 30px;
  }
  header .header_container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header .header_bottom .phone__icon {
    display: block;
  }
  .hero {
    margin: 0;
    border-radius: 0;
  }
  .hero .builder__img {
    width: 372px;
    height: 250.95px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 48px;
  }
  .hero__desc {
    font-size: 20px;
    line-height: 30px;
  }
  .hero__content {
    padding-bottom: 62px;
  }
  .hero .container {
    padding-top: 126px;
  }
  .hero .swiper-pagination {
    display: none;
  }
  header .header_top_left {
    gap: 20px;
  }
  header .menu__icon {
    display: block;
  }
  .special__offers .card {
    background: #fff;
  }
  .title {
    font-size: 32px;
    line-height: 48px;
  }
  .special__offers .title__box {
    padding-bottom: 24px;

    .swiper-btns {
      display: flex;
      & > button {
        width: 7px;
        height: 14px;
        background: transparent;
        &:hover {
          svg path {
            stroke: #000;
          }
        }
      }
    }
  }
  .special__offers {
    background: #f7fafc;
    padding-top: 24px;
  }
  .special__offers .swiper .swiper-btns {
    display: none;
  }
  .special__offers .swiper-scrollbar {
    background: #dee2e7;
    bottom: 0;
    top: auto;
    height: 2px;
    width: 101%;
    margin-left: -7px;
		display: block;
    .swiper-scrollbar-drag {
      background: #0d6efd;
    }
  }
  .special__offers .offers__cards {
    margin: 24px 0;
  }
  .special__offers .swiper {
    padding-bottom: 24px;
  }
  .special__offers .main_container {
    position: relative;
  }
  .special__offers .offers__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}
