@media screen and (max-width: 1600px) {
  .container {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .hero .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  header .header_top_left .header_location,
  header .header_top_center,
  header .header_top_right,
  header .nav_link,
  header .header_bottom_right a span {
    display: none;
  }
  header .header_bottom_right {
    gap: 30px;
  }
  header .header_container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  header .header_bottom .phone__icon {
    display: block;
  }
  .hero {
    margin: 0;
    border-radius: 0;
  }
  .hero .builder__img {
    width: 372px;
    height: 250.95px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 48px;
  }
  .hero__desc {
    font-size: 20px;
    line-height: 30px;
  }
  .hero__content {
    padding-bottom: 62px;
  }
  .hero .container {
    padding-top: 126px;
  }
  .hero .swiper-pagination {
    display: none;
  }
  header .header_top_left {
    gap: 20px;
  }
  header .menu__icon {
    display: block;
  }
  .special__offers .card {
    background: #fff;
  }
  .title {
    font-size: 32px;
    line-height: 48px;
  }
  .special__offers .title__box {
    padding-bottom: 24px;

    .swiper-btns {
      display: flex;
      & > button {
        width: 7px;
        height: 14px;
        background: transparent;
        &:hover {
          svg path {
            stroke: #000;
          }
        }
      }
    }
  }
  .special__offers {
    background: #f7fafc;
    padding-top: 24px;
  }
  .special__offers .swiper .swiper-btns {
    display: none;
  }
  .special__offers .swiper-scrollbar {
    background: #dee2e7;
    bottom: 0;
    top: auto;
    height: 2px;
    width: 101%;
    margin-left: -7px;
    display: block;
    .swiper-scrollbar-drag {
      background: #0d6efd;
    }
  }
  .special__offers .offers__cards {
    margin: 24px 0;
  }
  .special__offers .swiper {
    padding-bottom: 24px;
  }
  .special__offers .main_container {
    position: relative;
  }
  .special__offers .offers__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
  .help__choos .operator__img {
    width: 290px;
    height: 356px;
  }

  .help__choos .desc {
    font-size: 20px;
    line-height: 30px;
  }
  .help__choos-content {
    max-width: 433px;
  }
  .help__choos {
    margin: 0 24px;
  }
  .products {
    padding: 26px 0 0 0;
    position: relative;
  }
  .products .products__boxes {
    display: flex;
    align-items: stretch;
    gap: 0;
  }
  .products .swiper-backface-hidden .swiper-slide {
    height: unset;
    flex: none;
  }
  .products .products__boxes {
    padding-top: 24px;
  }
  .products .products__boxes .product__desc {
    padding-top: 10px;
  }
  .history__brand .main_container .history__brand-bg {
    border-radius: 0;
  }
  .history__brand .container {
    padding: 24px 0 64px 0;
  }
  .history__brand .tab__header-items h5 {
    font-size: 24px;
  }
  .history__brand .tab__header-items {
    gap: 16px;
  }
  .history__brand .desc {
    font-size: 20px;
    line-height: 30px;
  }
  .history__brand .tab__content {
    gap: 16px;
  }
  .history__brand .company__name {
    font-size: 64px;
    line-height: 47px;
  }
  .history__brand .aurora__logo {
    width: 326.94px;
    height: 50px;
    top: 24px;
  }
  .history__brand .riland__logo {
    width: 221.64px;
    height: 45px;
  }
  .watche__product {
    padding: 24px 0;
  }
  .products .swiper-scrollbar {
    display: block;
    height: 2px;
    background: #dee2e7;
    border-radius: 0;
    top: auto;
    bottom: 0;
    width: 103%;
    left: -10px;

    .swiper-scrollbar-drag {
      border-radius: 0;
      background: #00b517;
    }
  }
  .products .products__swiper {
    padding-bottom: 26px;
  }
  .title__box {
    .swiper-btns {
      display: flex;
      & > button {
        width: fit-content;
        height: fit-content;
        &:hover {
          background: transparent;
          svg path {
            stroke: #000;
          }
        }
      }
    }
  }
  .watche__product .relative__box .swiper-btns {
    display: none;
  }
  .watche__product .title {
    padding-bottom: 0;
  }
  .watche__product .swiper {
    padding: 24px 0;
  }
  .watche__product {
    padding: 24px 0 0 0;

    .swiper-scrollbar {
      height: 2px;
      background: #f7fafc;
      border-radius: 0;
      top: auto;
      bottom: 0;
      &-drag {
        border-radius: 0;
        background: #0d6efd;
      }
    }
  }
  .footer {
    padding: 48px 0 24px 0;
  }
  .footer .row {
    flex-direction: column;
    gap: 24px;

    .col {
      max-width: 100%;
    }
  }
  .footer__title-box {
    width: 100%;
    padding-bottom: 12px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(96.14deg, #dee2e7 0%, #ffffff 100%);
    }

    .down__icon {
      display: block;
    }
  }
  .footer .row .col:last-child {
    ul {
      display: flex;
      a > br {
        display: none;
      }
    }
    .footer__title-box {
      padding-bottom: 20px;
      &::before {
        display: none;
      }
    }
  }
  .footer .col ul {
    display: none;
    margin-top: 10px;
    &.show {
      display: flex;
    }
  }
  .footer__bottom {
    margin-top: 24px;
    padding-top: 24px;
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }
  .footer__bottom p {
    color: #0d6efd;
  }
  .footer__bottom .flex__box {
    gap: 12px;
  }
  .footer__bottom .right__box {
    gap: 24px;
  }
}
